<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="alert alert-danger mt-3 col-6 offset-3" role="alert">
      <h3>
        <%= err.message %>
      </h3>
      <h6>Status Code : <%= err.statusCode %>
      </h6>

     
    </div>

  </div>