<% layout("/layouts/boilerplate.ejs") %>

    


        <div class="row">

            <div class="div  col-8 offset-1 col-lg-6 offset-lg-3">

                <h3 class="mt-2">Create New Listing</h3>

                <form method="post" action="/listings" class="newform needs-validation" novalidate>

                    <div class="mb-4">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="listing[title]" class="form-control"
                            placeholder="Enter title of Property" required>
                        <div class="invalid-feedback">Please provide a title.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="mb-4">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" class="form-control"
                            placeholder="Enter description of Property" required></textarea>
                        <div class="invalid-feedback">Please provide a description.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="mb-4">
                        <label for="imagelink" class="form-label">Upload url of Image</label>
                        <input type="text" id="imagelink" name="listing[image][url]" class="form-control"
                            placeholder="Enter URL of image">
                        <div class="invalid-feedback">Please provide a valid image URL.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="row">
                        <div class="mb-4 col-lg-4">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" id="country" name="listing[country]" class="form-control"
                                placeholder="Enter country of Property" required>
                            <div class="invalid-feedback">Please enter a country.</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="mb-4 col-lg-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" name="listing[location]" class="form-control"
                                placeholder="Enter location of Property" required>
                            <div class="invalid-feedback">Please enter a location.</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>

                    <div class="mb-4 col-lg-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" id="price" name="listing[price]" class="form-control"
                            placeholder="Enter price of Property" required>
                        <div class="invalid-feedback">Please enter a price.</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <button class="btn btn-primary addBtn mb-3" type="submit">ADD</button>
                </form>

            </div>



        </div>


    