<% layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-3 p-3">

        <div class="div  col-8 offset-1 col-lg-6 offset-lg-3 p-3">

            
                <h3 class="mt-2">SignUP</h3>



            <form method="post" action="/signup" class="newform needs-validation" novalidate>

                <div class="mb-4">
                    <label for="title" class="form-label">Username</label>
                    <input type="text" id="title" name="username" class="form-control" placeholder="Enter Username"
                        required>
                    <div class="invalid-feedback">Please Enter a Username.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>



                <div class="mb-4">
                    <label for="imagelink" class="form-label">Email</label>
                    <input type="text" id="imagelink" name="email" class="form-control" placeholder="Enter Your Email"
                        required>
                    <div class="invalid-feedback">Please provide a valid Email Address.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>


                <div class="mb-4 col-lg-6">
                    <label for="price" class="form-label">Password</label>
                    <input type="password" id="price" name="password" class="form-control" placeholder="Enter Password"
                        required>
                    <div class="invalid-feedback">Please enter a password.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <button class="btn btn-outline-danger" type="submit">Signup</button>
            </form>

        </div>



    </div>